@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Roman.woff2') format('woff2'),
        url('Avenir-Roman.woff') format('woff'),
        url('Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

